<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="angular-csp.css">

</head>
<body>
<div ng-controller="ctrl">
    {{123456.123123  | currency:'￡'  }} <br>
    {{'abcdefghijk' | uppercase | lowercase}}<br>
    {{'ABCDEFGHIJK' | lowercase}}<br>
    {{'avdasdasdasd'| limitTo:6}}<br>
    {{'123123.123123' | number:2}}  <br>保留几位小数
    <pre>
        {{arr | json}}
    </pre>
    {{1466916041328| date:'yyyy-MM-dd hh:mm:ss'}}
    <!--//当失去焦点的时候刷新模型-->
    <input type="text" ng-model="name" ng-model-options="{updateOn:'blur'}">
    <div>
        <ul>
            <li ng-repeat="a in arr | orderBy:'age':false | filter:{age:name}">
                <!--//根据我们的age来进行筛选-->
                {{a.name}}{{a.age}}
            </li>
        </ul>
    </div>
    <!--orderBy的第一个参数默认是属性值的字符串 reverse默认为倒序  true默认是倒序 false默认为升序-->


    <!--//filter 用来筛选 筛选后将内容输出到我们的页面上-->
    <!--filter params第一个参数 是我们模型的名字 params第一个参数还可以写成对象的形式-->




</div>
<script src="angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('ctrl', function ($scope) {
        //currency货币只能是数字 默认为美元 用多个管道符做过滤
        $scope.arr = [
            {name:'苹果',age:7},
            {name:'联想7',age:10},
            {name:'dell7',age:6},
        ]
    });
</script>
</body>

</html>